<section class="phx-hero">
  <h1><%= gettext "Welcome to the %{name}!", name: "Tag Editor" %></h1>
  <p>Here grows a editor to create and curate mod list.</p>
  <ul>
      <li>Modlists are <a href="/modlist">here</a>.</li>
      <li>Mods are <a href="/mod">here</a>.</li>
  </ul>
</section>
