<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>BGM - TagEditor</title>
        <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    </head>
    <body>
        <header>
            <section class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button"
                            data-toggle="collapse" data-target="#navbarTogglerDemo01"
                            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggler">
                        <a class="navbar-brand" href="/">
                            <img src="<%= Routes.static_path(@conn, "/images/bgm_logo.svg") %>"
                                 width="45" height="45" alt="Belethors General Mods Logo"/>
                            Tag Editor
                        </a>
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/mod">Mods</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/modlist">Modlists</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/tag">Tags</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </section>
        </header>
        <main role="main" class="container">
            <%= render(@view_module, @view_template, assigns)%>
            <div id="test"></div>
        </main>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    </body>
</html>
