<a href="/mod/<%= @m.id%>" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= @m.name %></h5>
        <small>? days ago</small>
    </div>
    <small>hier sollen irgendwann die tags stehen</small>
</a>
